html {
  color:#333;
  font-size:$base-font-size;
  font-family: $corbert;
  background-size:100% 1.5em;
  background-position: left top;
  //background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 5%);
}

// @todo: Create/install rem font-size @mixin
h1 {
  @extend %corbert-black;
  font-size:48px;
  font-size:3rem;
  line-height:1.5em;
  margin:0;
}

h2 {
  @extend %corbert-extra-bold;
  font-size:40px;
  font-size:2.5rem;
  line-height:1.2em;
  margin:1em 0 0.5em;
}

h3 {
  @extend %corbert-extra-bold;
  font-size:32px;
  font-size:2rem;
  font-style:italic;
  line-height:1.2em;
  margin:0;
}

h4,
h6 {
  font-weight:normal;
}

p {
  font-size:1rem;
  line-height:1.5em;
  margin:0 0 1.5em;
}

body {
  padding:0;
}

// font-size:16px + line-height:(font-size/2 = 8px) = 24px === 1vr unit

.container {
  border-top:0.625em solid #333;
  margin:0 auto;
  padding:0.8em 1.5em 0;
}

.pre-heading {
  @extend %corbert-extra-bold;
  color:rgba(255, 0, 0, 0.5);
  font-size:12px;
  font-size:0.8rem;
  line-height:1.8em;
  margin:0;
}

.home h1 {
  margin:0;
}

.tagline {
  @extend %corbert-extra-bold;
  font-size:24px;
  font-size:1.5rem;
  font-style:italic;
  line-height:1.2em;
  margin:0.4em 0 0.5em;
}




/*padding-left:18.75%; padding-right:31.25%;*/








